* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    border: none;
    font-size: inherit;
    font-family: inherit;
}

html {
    font-size: 16px;
    font-family: ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "apple color emoji", "segoe ui emoji", "Segoe UI Symbol", "noto color emoji";
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 4rem;
    width: 100vw;
    height: 100vh;
    padding: 20px;
    background-color: #111111;
    background-image: radial-gradient(ellipse at left bottom, rgba(255, 212, 0, 0.1) 10%, transparent 30%), radial-gradient(ellipse at right top, rgba(255, 212, 0, 0.05) 10%, transparent 40%);
    backdrop-filter: blur(40px);
}

h1 {
    color: white;
    font-size: 4rem;
    text-align: center;
    line-height: 1;
}

.clock {
    width: 280px;
    height: 280px;
    border: 4px dotted #ffd400;
    border-radius: 50%;
    position: relative;
}

.clock .pointers {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    transform: rotate(-90deg);
}

.clock .pointers div {
    width: 110px;
    height: 3px;
    background-color: #fff;
    border-radius: 20px;
    position: absolute;
    top: calc(50% - 2px);
    left: 50%;
    transform-origin: 0;
}

.clock .pointers div#pointer-sec {
    width: 125px;
    height: 2px;
    background-color: red;
}

.clock::before {
    content: "";
    display: block;
    width: 10px;
    height: 10px;
    background-color: red;
    border-radius: 50%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;
}

.clock span {
    position: absolute;
    color: rgba(255, 255, 255, 0.678);
    z-index: -1;
    font-weight: 500;
}

.clock span#weak-day {
    top: 50%;
    left: 60px;
    transform: translate(-50%, -50%);
}

.clock span#month-day {
    top: 50%;
    left: calc(50% + 70px);
    transform: translate(-50%, -50%);
}

.clock span#full-time {
    bottom: 40px;
    left: 50%;
    transform: translate(-50%, -50%);
}